@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800);
.removePadding {
  padding-left: 0;
  padding-right: 0; }

.paddingSideNone {
  padding-left: 0; }

.marginBottom {
  margin-bottom: 20px; }

.adminHeader {
  text-align: center;
  font-size: 20px;
  margin: 5px 0 10px 0;
  border-bottom: 1px solid #EFEFEF;
  padding: 0 0 10px 0; }

.adminNavigation {
  height: 100%;
  background: red; }
  .adminNavigation ul {
    list-style: none;
    padding: 0;
    margin: 0; }
    .adminNavigation ul li a {
      text-transform: uppercase;
      color: #FFF;
      display: block;
      text-decoration: none;
      padding: 10px 5px;
      border-bottom: 1px solid;
      text-align: left;
      font-size: 17px; }
    .adminNavigation ul li a:hover {
      color: #FFF;
      display: block;
      text-decoration: none; }

.adminTitle {
  margin: 5px 0 5px 0; }
  .adminTitle h1 {
    margin: 0;
    float: left;
    width: 80%;
    .display: inline-block; }
  .adminTitle .createLink {
    display: inline-block;
    float: right;
    width: 20%; }
    .adminTitle .createLink a {
      text-transform: uppercase;
      display: block;
      width: 75%;
      text-align: center;
      background: red;
      color: #FFF;
      text-decoration: none;
      font-size: 17px;
      padding: 5px;
      margin: 0 auto; }
    .adminTitle .createLink a:hover {
      text-decoration: none; }

.margin-top {
  margin-top: 75px; }

.adminContentContainer {
  margin: 25px 0 15px 0;
  border: 1px solid #EFEFEF;
  padding: 25px; }
  .adminContentContainer p.name {
    margin: 0;
    font-size: 15px;
    text-align: center;
    background: red;
    color: #FFF;
    padding: 5px 0; }
  .adminContentContainer img {
    margin: 5px 0 0 0;
    display: block;
    width: 100%; }

.adminActions {
  color: #000;
  font-size: 18px;
  display: inline-block;
  padding: 0 5px;
  text-decoration: none; }

.adminActions:hover {
  text-decoration: none; }

input[type=text], input[type=email], input[type=password] {
  display: block;
  width: 100%;
  padding: 5px; }

label {
  font-size: 15px;
  text-align: right;
  display: block;
  margin: 0;
  height: 34px;
  line-height: 34px;
  text-transform: uppercase; }

input[type=submit] {
  border: none;
  background: red;
  color: #FFF;
  padding: 5px 20px;
  font-size: 17px;
  text-transform: uppercase; }

textarea {
  width: 100%;
  height: 230px; }

input[type=submit] {
  border: none;
  background: red;
  color: #FFF;
  font-size: 15px; }

.adminOldImage {
  display: block;
  width: 100%; }

.bx-wrapper .bx-viewport {
  box-shadow: none;
  border: 0px;
  left: 0px;
  background: white; }

header {
  background: #EC232A;
  padding: 15px; }
  header a display:block
  img {
    width: 100%; }
  header nav ul {
    list-style: none;
    display: block;
    float: right;
    margin: 0;
    padding: 20px 0; }
    header nav ul li {
      display: inline-block; }
      header nav ul li a {
        display: inline-block;
        color: #FFFFFF;
        text-transform: uppercase;
        font-size: 16px;
        padding: 5px 3px;
        margin: 0 10px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700; }
      header nav ul li a:hover {
        text-decoration: none;
        background: #FFFFFF;
        color: #EC232A; }
    header nav ul li.blog {
      border-right: 1px solid #FFFFFF; }
      header nav ul li.blog a {
        padding-right: 10px; }
    header nav ul li.phone a {
      margin: 0 5px; }

.homeBlog {
  margin: 80px 0 50px 0; }
  .homeBlog h5 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500px;
    margin: 30px 0 10px 0;
    text-transform: uppercase;
    padding: 0 0 0 15px;
    font-size: 32px; }
  .homeBlog article {
    margin: 25px 0 25px 0; }
    .homeBlog article h3 {
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      font-weight: 600;
      margin: 0 0 5px 0; }
    .homeBlog article a {
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      font-weight: 600;
      background: #ec232a;
      color: #FFFFFF;
      padding: 5px 15px;
      display: inline-block;
      margin: 5px 0 0 0;
      text-transform: uppercase; }
    .homeBlog article a:hover {
      text-decoration: none;
      color: #FFF; }
    .homeBlog article p {
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      font-weight: 300; }

.trainers {
  background: #ec232a;
  position: absolute;
  top: -122px; }
  .trainers h1 {
    padding: 20px 0 20px 22px;
    color: #FFF;
    width: 93%;
    margin: 0 auto;
    font-size: 32px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif; }
  .trainers p {
    width: 80%;
    margin: 0 auto 25px auto;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400; }
  .trainers .trainer {
    margin: 0 auto;
    padding: 0 34px 25px 0;
    width: 80%; }
    .trainers .trainer img {
      float: left;
      width: 60%;
      border-radius: 100%; }
    .trainers .trainer a, .trainers .trainer h3 {
      font-family: 'Open Sans', sans-serif;
      color: #FFF;
      float: right;
      width: 39%; }
    .trainers .trainer h3 {
      font-weight: 300;
      font-size: 16px;
      margin: 0 0 10px 0; }
    .trainers .trainer a {
      font-weight: 600;
      font-size: 14px;
      text-transform: uppercase; }

.about h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 32px;
  margin: 25px 0;
  text-transform: uppercase; }
.about p {
  margin: 0 0 10px 0;
  line-height: 1.6em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  word-spacing: 1px; }

.slider img {
  width: 100%;
  display: block; }
.slider .caption h1 {
  position: absolute;
  top: 45px;
  left: 155px; }
  .slider .caption h1 span {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #FFFFFF;
    text-transform: uppercase; }
  .slider .caption h1 span.stay {
    font-size: 40px;
    font-weight: 800;
    position: absolute;
    top: initial;
    left: initial; }
  .slider .caption h1 span.health {
    font-size: 75px;
    font-weight: 800;
    position: absolute;
    top: 33px;
    left: 22px; }
  .slider .caption h1 span.and {
    font-size: 40px;
    font-weight: 800;
    position: absolute;
    top: 112px;
    left: 90px; }
  .slider .caption h1 span.fit {
    font-size: 75px;
    font-weight: 800;
    background: #EC232A;
    position: absolute;
    top: 113px;
    left: 212px;
    width: 143px;
    text-align: center; }
.slider .caption h2 {
  position: absolute;
  top: 258px;
  left: 155px;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 19px;
  border-top: 1px solid #FEFEFE;
  padding: 10px 0 0 0; }

.homeNutrition {
  margin: 35px auto;
  display: block;
  position: relative; }
  .homeNutrition .caption {
    position: absolute;
    background: #DE9305;
    top: 80px;
    left: 25px;
    padding: 0 10px; }
    .homeNutrition .caption h4, .homeNutrition .caption h5 {
      color: #FFFFFF;
      font-family: 'Open Sans', sans-serif;
      font-size: 26px;
      text-transform: uppercase; }
    .homeNutrition .caption h4 {
      font-weight: 400; }
    .homeNutrition .caption h5 {
      font-weight: 700; }
  .homeNutrition h6 {
    position: absolute;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    bottom: 76px;
    left: 25px;
    width: 30%;
    line-height: 1.3em;
    font-weight: 400; }

footer .contact h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 32px;
  text-transform: uppercase;
  margin: 0 0 20px 0; }
footer .contact a {
  display: block;
  color: #000; }
footer .contact p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin: 0 0 25px 0; }
  footer .contact p a.phone {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #EC232A; }
footer .location h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 32px;
  margin: 0 0 20px 0;
  text-transform: uppercase; }
footer .location #googleMap {
  width: 360px;
  height: 220px; }

h1.trainersPage {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 36px;
  text-transform: uppercase;
  border-bottom: 1px solid #DADADA;
  padding-bottom: 15px; }

.trainersPage .trainer {
  margin: 50px 0; }
  .trainersPage .trainer a {
    display: block;
    text-align: center;
    padding: 0px;
    border-radius: 100%;
    border: 5px solid #DADADA;
    width: 40%;
    margin: 0 auto;
    height: 218px; }
    .trainersPage .trainer a img {
      border-radius: 100%;
      width: 94%;
      display: inline-block;
      margin: 5px auto; }
  .trainersPage .trainer a:hover {
    border: 5px solid #EC232A; }
  .trainersPage .trainer h3 {
    margin: 25px auto 0 auto;
    display: block;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600; }
  .trainersPage .trainer a.seeMore {
    display: block;
    margin: 0 auto;
    text-align: center;
    border: none;
    height: initial;
    width: initial;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #000000;
    border-top: 1px solid #DADADA;
    width: 30%;
    border-radius: 0;
    padding: 10px 0; }
  .trainersPage .trainer a.seeMore:hover {
    text-decoration: none;
    color: #EC232A; }
  .trainersPage .trainer .description {
    width: 80%;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    margin: 30px auto 20px auto; }
    .trainersPage .trainer .description p {
      font-family: inherit;
      font-size: inherit;
      font-weight: inherit; }
.trainersPage .trainer.before::before {
  border-right: 1px solid #DADADA;
  position: absolute;
  height: 30%; }
.trainersPage .trainer.one a {
  width: 23%;
  height: 260px;
  border: 5px solid #EC232A; }
.trainersPage .trainer.one a.seeMore {
  border: inherit;
  height: inherit; }
.trainersPage .trainer.one .description {
  width: 30%; }
  .trainersPage .trainer.one .description p {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit; }

.achievements .month {
  display: block;
  width: 18%;
  margin: 0 auto 30px auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
  border: 1px solid #EFEFEF;
  text-align: center;
  padding: 10px 0; }
.achievements article {
  margin: 20px 0;
  position: relative;
  width: 47.8%;
  border: 1px solid #EFEFEF;
  padding: 10px 20px; }
  .achievements article h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600; }
  .achievements article .date {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 5px 0; }
  .achievements article img {
    width: 100%;
    display: block;
    margin: 0 0 5px 0; }
  .achievements article .description {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 300; }
    .achievements article .description p {
      font-family: inherit;
      font-size: inherit;
      font-weight: inherit; }
.achievements article.left {
  float: left; }
.achievements article.right {
  float: right;
  top: 35px; }
.achievements article::before {
  background: #EC232A;
  border-radius: 50%;
  content: "";
  display: block;
  height: 10px;
  position: absolute;
  top: 22px;
  width: 10px;
  z-index: 2; }
.achievements article.left::before {
  right: -6.3%; }
.achievements article.right::before {
  left: -6.4%; }
.achievements article::after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  background: #FFF;
  content: "";
  display: block;
  height: 14px;
  position: absolute;
  width: 14px;
  z-index: 0; }
.achievements article.left::after {
  border-right: 1px solid #E5E5E5;
  border-top: 1px solid #E5E5E5;
  right: -8px;
  top: 20px; }
.achievements article.right::after {
  border-left: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
  left: -8px;
  top: 20px; }

.achievements::after {
  background: #EFEFEF;
  content: "";
  display: block;
  height: 100%;
  left: 50%;
  margin-left: -2px;
  position: absolute;
  top: 42px;
  width: 2px;
  z-index: 0; }

article .blog {
  margin: 20px auto; }
  article .blog img {
    width: 100%;
    display: block; }

article.individual .slider {
  width: 45%;
  float: left;
  margin: 20px; }

/*# sourceMappingURL=style.css.map */
